def connectToNM():
    nmConnect('{{ nm_username }}', '{{ nm_password }}', '{{ ansible_hostname }}', '5556', '{{ DOMAIN_NAME }}', '{{ DOMAIN_HOME }}', 'plain')
    print ''
    print '======================================================'
    print 'The script has been connected to the Node Manager ....'
    print '======================================================'
    print ''
    nmStart('{{ JVM_ADMINSERVER }}')

def startCluster():
    servers=cmo.getServers()
    domainRuntime()
    for server in servers:
        bean="/ServerLifeCycleRuntimes/"+server.getName()
        serverbean=getMBean(bean)
        #print "serverbean",serverbean
        #print "Current status of the server",server.getName(),"is",serverbean.getState()

        if serverbean.getState() in ("SHUTDOWN", "FAILED_NOT_RESTARTABLE"):
            print "Starting the servers which are in SHUTDOWN and FAILED_NOT_RESTARTABLE status"
            print "Starting the Server ",server.getName()
            start(server.getName(),server.getType())
        elif serverbean.getState() in ("RUNNING"):

            print "The Server is UP!!!",server.getName()

        else:

            print "All Server are UP!!!",server.getName()

    serverConfig()

def connectToAdminServer():
    print('Try to connect to the {{ JVM_ADMINSERVER }}')
    try:
       # connect(userConfigFile=configFile, userKeyFile=keyFile, url=adminUrl)
        connect('{{ console_username }}', '{{ console_password }}', 't3://{{ ansible_hostname }}:7001')
    except NameError, e:

        print('-------------------------------------------------')
        print('Apparently {{ JVM_ADMINSERVER }} is Stopped!')
        print('-------------------------------------------------')



connectToNM()
connectToAdminServer()
startCluster()
disconnect()