
def stopCluster():
    servers=cmo.getServers()
    domainRuntime()
    array = []
    for server in servers:
        array.append(server.getName())
        reverse = array[::-1]
    try:
        for i in list(reverse):
            shutdown(i)
            print('Stopping JVM: ',i)
    except:
        print('-----------------------------------------------------------')
        print 'Verifique o erro ',server.getName()
        print('-----------------------------------------------------------')
    serverConfig()


def adminStop():
    try:
       print('-------------------------------------------------')
       print('Try to connect to the {{ JVM_ADMINSERVER }}' )
       print('-------------------------------------------------')
       try:
          connect(userConfigFile=configFile, userKeyFile=keyFile, url=adminUrl)
          print('')
          shutdown('{{ JVM_ADMINSERVER }}')
          print('')
       except NameError, e:
            print('Apparently user config properties usrCfgFile and usrKeyFile not set.')
            print('Try to connect to the {{ JVM_ADMINSERVER }} adminUser and adminPwd properties')
            connect('{{ console_username }}', '{{ console_password }}', 't3://{{ ansible_hostname }}:7001')
            print('')
            shutdown('{{ JVM_ADMINSERVER }}')

    except WLSTException:
        print('-------------------------------------------------')
        print('Apparently {{ JVM_ADMINSERVER }} is Stopped!')
        print('-------------------------------------------------')

def connectToAdminServer():
    print('Try to connect to the {{ JVM_ADMINSERVER }}')
    try:
       # connect(userConfigFile=configFile, userKeyFile=keyFile, url=adminUrl)
        connect('{{ console_username }}', '{{ console_password }}', 't3://{{ ansible_hostname }}:7001')
    except NameError, e:

        print('-------------------------------------------------')
        print('Apparently {{ JVM_ADMINSERVER }} is Stopped!')
        print('-------------------------------------------------')

def connectToNM():
    nmConnect('{{ nm_username }}', '{{ nm_password }}', '{{ ansible_hostname }}', '5556', '{{ DOMAIN_NAME }}', '{{ DOMAIN_HOME }}', 'plain')
    print ''
    print '======================================================'
    print 'The script has been connected to the Node Manager ....'
    print '======================================================'
    print ''

connectToNM()
connectToAdminServer()
stopCluster()
adminStop()
disconnect()